.favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 600px;
  }
  
  .favorite-item {
    background-color: #f4f4f9;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }
  
  .favorite-item h3 {
    margin: 0;
  }
  
  .favorite-item p {
    margin: 10px 0;
  }
  